.toast {
    display: block;
    position: fixed;
    top: 5em;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    will-change: transform;
    transform: translate3d(-200%, 0, 0);
    transition-property: visibility, transform;
    transition-duration: 0.2s;
    visibility: hidden;
}

.toast[show] {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
